<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 700;">LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-content class="fondoLogin">
    <br />
    <br />
    <h3 class="bold-title textoBlanco"> Bienvenido!</h3>

    <ion-list class="transparente" style="margin-top: 30%;">
      <ion-item style=" opacity: 0.7;">
        <ion-input
          maxlength="15"
          label="Usuario"
          labelPlacement="stacked"
          [clearOnEdit]="true"
          placeholder="Ingrese Usuario max 15."
          [(ngModel)]="user"
        >
        </ion-input>
      </ion-item>

      <ion-item style=" opacity: 0.7;">
        <ion-input
          label="Password"
          labelPlacement="stacked"
          type="password"
          placeholder="Ingrese Password"
          [(ngModel)]="pass"
        >
        </ion-input>
      </ion-item>

      <br />
      <div>
      <ion-button (click)="guardarDatos()" style="width: 15rem;">Ingresar</ion-button>
    </div>
    <div>
      <ion-button (click)="recupera()">Recuperar</ion-button>
      <ion-button (click)="registro()">Registro</ion-button>
      </div>
    </ion-list>
  </ion-content>
  
</ion-content>
