<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1 style="color: black">Bienvenido!, {{ usu }}</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="background">
  <br />
  <br />

  <h1 class="bold-title textoBlanco titulo h1-animated ion-text-center">
    TELLEVO
  </h1>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="login" (click)="gologin()">
      <ion-icon name="log-in"></ion-icon>
      Login
    </ion-tab-button>
    <ion-tab-button tab="perfil">
      <ion-icon name="person"></ion-icon>
      Perfil
    </ion-tab-button>
    <ion-tab-button tab="vehiculo">
      <ion-icon name="car-sport"></ion-icon>
      Vehiculo
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
