<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1 (click)="getGlobalusu()">presiona</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <h1 (click)="getGlobalusu()">presiona {{ usu }}</h1>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-button class="btn-login" fill="outline" size="large" [routerLink]="['/recuperar-contrasena']">
      <ion-icon slot="start" name="star"></ion-icon>
      Recuperar Contraseña
    </ion-button>
  </ion-item>
</ion-content>
